{% extends "admin/base.html" %}
{% block body %}
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
	<thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric">Ponto</th>
	      <th>Empresa</th>
	      <th>Endereço</th>
	    </tr>
  	</thead>
  	<tbody>
	{% for point in object_list %}  	
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{point.name}}</td>
      <td>{{point.company.name}}</td>
      <td>{{point.address}}</td>
    </tr>
	{% endfor %}
  	</tbody>
</table>
<a href="{% url 'add_point' %}" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">Adicionar Ponto</a>
{% endblock %}