<form action="" method="post">{% csrf_token %}
	<label>Nome do Ponto</label>
	{% if form.name %}
		{% for error in form.name.errors %}
			{{error|escape}}
		{% endfor %}
	{% endif %}
	{{form.name}}
	<label>Endereço</label>
	{% if form.address %}
		{% for error in form.address.errors %}
			{{error|escape}}
		{% endfor %}
	{% endif %}
	{{form.address}}
	<label>Empresa</label>
	{% if form.company %}
		{% for error in form.company.errors %}
			{{error|escape}}
		{% endfor %}
	{% endif %}
	{{form.company}}
	<label>Descrição</label>
	{% if form.description %}
		{% for error in form.description.errors %}
			{{error|escape}}
		{% endfor %}
	{% endif %}
	{{form.description}}

	<button type="submit">Salvar</button>
</form>