{% extends "admin/base.html" %}
{% load widget_tweaks %}

{% block body %}
	<form action="" method="post">{% csrf_token %}
		<label>Nome da Fila*</label>
		{% if form.name %}
			{% for error in form.name.errors %}
				{{error|escape}}
			{% endfor %}
		{% endif %}
		{{form.name}}
		<label>Descrição</label>
		{% if form.description %}
			{% for error in form.description.errors %}
				{{error|escape}}
			{% endfor %}
		{% endif %}
		{{form.description}}
		<label>Horário de início*</label>
		{% if form.start_time %}
			{% for error in form.start_time.errors %}
				{{error|escape}}
			{% endfor %}
		{% endif %}
		{{form.start_time}}
		<label>Horário de término*</label>
		{% if form.end_time %}
			{% for error in form.end_time.errors %}
				{{error|escape}}
			{% endfor %}
		{% endif %}
		{{form.end_time}}
		<label>Ponto de serviço*</label>
		{% if form.point_of_service %}
			{% for error in form.point_of_service.errors %}
				{{error|escape}}
			{% endfor %}
		{% endif %}
		{{form.point_of_service}}

		<button type="submit">Salvar</button>
	</form>
{% endblock %}